<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Layout Exercises</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

</head>
<body>
	<h1>Layout Exercises</h1>
	<h2>Robert Turner - CIT85</h2>
	<div id="accordion">
		<h3>Page 2 examples</h3>
		<div id="P2">
			<h4>This is a div with display: block, width: 40%</h4>
			<div>
				<div class="D1">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quisquam, ipsa assumenda. Excepturi beatae eveniet consequatur aspernatur error? Ullam dignissimos aperiam id consectetur amet voluptatibus quisquam aspernatur provident. Eos, quis.</p>
				</div>
				<div class="D1">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quisquam, ipsa assumenda. Excepturi beatae eveniet consequatur aspernatur error? Ullam dignissimos aperiam id consectetur amet voluptatibus quisquam aspernatur provident. Eos, quis.</p>
				</div>
			</div>
			<h4>This is a div with display: inline, width: 40%</h4>
			<div>
				<div class="D2">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quisquam, ipsa assumenda. Excepturi beatae eveniet consequatur aspernatur error? Ullam dignissimos aperiam id consectetur amet voluptatibus quisquam aspernatur provident. Eos, quis.</p>
				</div>
				<div class="D2">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quisquam, ipsa assumenda. Excepturi beatae eveniet consequatur aspernatur error? Ullam dignissimos aperiam id consectetur amet voluptatibus quisquam aspernatur provident. Eos, quis.</p>
				</div>
			</div>
			<h4>This is a div with display: none, width: 40%</h4>
			<div>
				<div class="D3">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quisquam, ipsa assumenda. Excepturi beatae eveniet consequatur aspernatur error? Ullam dignissimos aperiam id consectetur amet voluptatibus quisquam aspernatur provident. Eos, quis.</p>
				</div>
				<div class="D3">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quisquam, ipsa assumenda. Excepturi beatae eveniet consequatur aspernatur error? Ullam dignissimos aperiam id consectetur amet voluptatibus quisquam aspernatur provident. Eos, quis.</p>
				</div>
			</div>
		</div>
		<h3>Page 3 example</h3>
		<div id=P3>
			<h4>This is a div with width 700px, margin auto</h4>
			<div class="D">
				<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quisquam, ipsa assumenda. Excepturi beatae eveniet consequatur aspernatur error? Ullam dignissimos aperiam id consectetur amet voluptatibus quisquam aspernatur provident. Eos, quis.</p>
				</div>
			</div>
		</div>
		<h3>Page 4 example</h3>
		<div id=P4>
			<h4>This is a div with max-width 700px, margin auto</h4>
			<div class="D">
				<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quisquam, ipsa assumenda. Excepturi beatae eveniet consequatur aspernatur error? Ullam dignissimos aperiam id consectetur amet voluptatibus quisquam aspernatur provident. Eos, quis.</p>
				</div>
			</div>
		</div>
		<h3>Page 5 examples</h3>
		<div id=P5>
			<h4>This is a div with width 500px, margin 20px auto</h4>
			<div class="D1">
				<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quisquam, ipsa assumenda. Excepturi beatae eveniet consequatur aspernatur error? Ullam dignissimos aperiam id consectetur amet voluptatibus quisquam aspernatur provident. Eos, quis.</p>
				</div>
			</div>
			<h4>This is a div with max-width 500px, margin 20px auto (with padding and wide border)</h4>
			<div class="D2">
				<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quisquam, ipsa assumenda. Excepturi beatae eveniet consequatur aspernatur error? Ullam dignissimos aperiam id consectetur amet voluptatibus quisquam aspernatur provident. Eos, quis.</p>
				</div>
			</div>
		</div>
		<h3>Page 6 examples</h3>
		<div id="P6">
			<h4>These are the same divs with box-sizing: border-box</h4>
			<div class="D1">
				<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quisquam, ipsa assumenda. Excepturi beatae eveniet consequatur aspernatur error? Ullam dignissimos aperiam id consectetur amet voluptatibus quisquam aspernatur provident. Eos, quis.</p>
				</div>
			</div>
			<div class="D2">
				<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quisquam, ipsa assumenda. Excepturi beatae eveniet consequatur aspernatur error? Ullam dignissimos aperiam id consectetur amet voluptatibus quisquam aspernatur provident. Eos, quis.</p>
				</div>
			</div>
		</div>
		<h3>Page 7 examples</h3>
		<div id="P07">
			<h4></h4>
			<div class="D">
				<div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus quisquam, ipsa assumenda. Excepturi beatae eveniet consequatur aspernatur error? Ullam dignissimos aperiam id consectetur amet voluptatibus quisquam aspernatur provident. Eos, quis.</p>
				</div>
			</div>
		</div>




	</div>
</body>
	<script>
	$(function() {
		$( "#accordion" ).accordion({
			heightStyle: "content"
		});
	});
	</script>
</html>
